body{
	background:black;	
	
}
.header,.footer{
	min-height:10vh;
	background:lime; 
	color:white
}
.content{
 min-height:80vh;
background:white; 
}
*{
	padding:0px;
	margin:0px;
}
.header{
	background-image: url("bg1.png");
	background-size:50% 100%;
background-position:center;
background-repeat:no-repeat;
background-color:red;	
}

	
.footer{
	
	background-image: url("bg2.png");
	background-size:50% 100%;
background-position:center;
background-repeat:no-repeat;
background-color:lime;	
}

h3{
	font-size:50px;
}
.circle-img{
	border-radius:40%;
	height:400px;
}
